<h1>lista de post </h1>

{{#each posts}}

<p>{{dataValues.createdAt}}</p>
<h1>{{dataValues.titulo}}</h1>
<p>{{conteudo}}</p>

<a href="/deletar/{{id}}"> <button>Deletar</button>  </a>
<hr>


{{/each}}
